<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <bean id="server" class="game.server.core.Server">
        <property name="port" value="1996"/>
        <property name="routineServer" ref="routine"/>
        <property name="clientManager">
            <bean class="game.server.core.ClientManager"/>
        </property>
    </bean>
    <bean id="routine" class="game.server.RoutineServer">
        <property name="solve">
            <bean class="game.server.core.Solve" factory-method="Instance"/>
        </property>
    </bean>
</beans>